@import "bourbon";

// -----------------------------------------------------------------------------
// $Commons
// -----------------------------------------------------------------------------

#menu-posts-partecipante div.wp-menu-image:before {
	content: "\f481";
}

#menu-posts-ricetta div.wp-menu-image:before {
	content: "\f511";
}

.postbox {
	.thb {
		margin: 0 -12px 6px;
	}
}

// -----------------------------------------------------------------------------
// $Utilities
// -----------------------------------------------------------------------------

.thb-image-upload {
	img {
		display: inline-block;
		width: 150px !important;
		height: 150px !important;
		background: #eee;
		border: none;
	}

	.button {
		display: block;
		width: 150px;
		text-align: center;
		cursor: pointer;
	}
}

// -----------------------------------------------------------------------------
// $Fields
// -----------------------------------------------------------------------------

.thb-field {
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding: 6px 12px 24px;

	&:last-child {
		padding-bottom: 12px;
		border-bottom: none;
	}

	& + h3 {
		padding-top: 24px !important;
	}
}

.thb-page-field {
	> div {
		overflow: hidden;
		margin-bottom: 12px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	label {
		float: left;
		display: inline-block;
		width: 15%;
		line-height: 29px;
		color: #999;
		font-style: italic;
	}

	label + * {
		float: left;
		display: inline-block;
		width: 70%;
	}

	@media screen and (max-width: 768px) {
		label {
			float: none;
			width: 100%;
			display: block;
		}

		label + * {
			float: none;
			width: 100%;
			display: block;
		}
	}
}